@import 'styles/theme';

.apply {
  &.container {
      flex-direction: row;
      border-color: black;
  }
  &.profile-container {
    display: grid;    
    grid-template-columns: [first] 250px [second] 300px;
    grid-template-rows: [row1] 80px [row2] 250px [row3] 80px [row4] 200px;
  }  
  &.place-title {
    grid-row: 1;
    grid-column: 1;
    width: 25em;
    height: 2em;
    background-color: rgb(12, 85, 95);
    color: white;
    font-size: medium;
  }
  &.place-avatar {
    grid-row: 2;
    grid-column: 1;
    position: relative;
    top: 1em;
    justify-content: center;
  }  
  &.place-description {
    grid-row: 2;
    grid-column: 2;
    width: 300px;
    height: 200px;
    overflow: scroll;
    background-color: rgb(139, 189, 197);
    color: rgb(17, 16, 16);
    font-size: small;
    font-weight: 300;
  }
  &.provider-title {
    grid-row: 3;
    grid-column: 1;
    width: 25em;
    height: 2em;
    background-color: rgb(12, 85, 95);
    color: white;
    font-size: medium;
  }
  &.provider-avatar {
    grid-row: 4;
    grid-column: 1;
    justify-content: center;
    position: relative;
    top: 1em;
  }
  &.provider-description {
    grid-row: 4;
    grid-column: 2;
    width: 300px;
    height: 200px;
    overflow: scroll;
    background-color: rgb(139, 189, 197);
    color: rgb(17, 16, 16);
    font-size: small;
    font-weight: 300;
  }
  &.event-container {
    
  }  
  &.event-title {
    width: 25em;
    height: 2em;
    background-color: rgb(12, 85, 95);
    color: white;
    font-size: medium;
  }
  &.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
  }

  &.bottom-stack {
    flex-shrink: 0;
    height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
}