@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.calendar {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: rgba(84, 192, 204, 0.2);
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
  }
  &.titlebox {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 5px;
  }
  &.titlebox h1 {
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: 5px;
  }
}

.weekday {
  &.container {
    margin: 0.5em 0;
    // width: 20em;
    max-width: max-content;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    overflow-y: scroll;
    background-color: rgba(84, 192, 204, 0);


  }
  &.title {
    color: #1F4F59FF;
    text-align: center;
  }
}

.calevent {
  &.container {
    color: white;
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;

  }
  &.item {
      opacity: .7;
      text-decoration: none;
      // background: rgb(173, 173, 0);
      background: #ce811d;
      /* margin-bottom: 12%; */
      /* margin-left: 0; */
      margin: 6%;
      width: 90%;
      padding: 5%;
      border-radius: 12px;
      &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color: inherit;
    }
  }
}
