@import 'styles/theme';

.choice {
    &.base-container {
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-color: black;
    }
    &.user-container {
        border-style: solid;
        border-color: black;
    }
    &.event {
        border-style: solid;
        border-color: black;
    }
    &.box {
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-color: black;
    }
    &.username {
        color: white;
    }
}