@import 'styles/theme';

.eventcreation{
  &.container {
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    border-radius: 30px;
    margin-top: 30px;
    height: 30em;
    display: grid;
    grid-template-columns: 600px auto;
    column-gap: 10px;
  }
  &.form {
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
    margin-right: 20px;
  }
  &.field {
    justify-content: center;
    column-gap: 5px;


  }
  &.form2 {
    // border-style: solid;
    // border-width: 2px;
    // border-color: #1F4F59FF;
    // border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

  }
  &.title {
    flex-shrink: 0;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    height: 50px;
    // justify-self: center;
    // justify-content: center;
    justify-content: space-around;
  }

  &.title h1{
    justify-self: center;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: 5px;
  }

  &.offer-slot {
    text-align: center;
  }
  &.return {
    margin-top: 2em;
    text-align: center;
  }

}
.react-calendar {
  background-color: rgb(228, 222, 210);
  border-radius: 0.5em;
  width: 400px;
  height: auto;
  margin-left: 15%;
  margin-right: 10px;
  margin-top: 50px;
}
.react-time-picker{
  background-color: rgb(228, 222, 210);
  width: 10em;
  height: 3em;
  box-shadow: $dropShadow;
  margin-left: 0;
  margin-top: 0;
}

@media (max-width: 929px) {
  &.eventcreation {
    &.react-calendar { margin-left: 0; width: auto }
    &.container {
      grid-template-columns: repeat(1, 1fr);
      border-style: none;

    }
    &.offer-slot {
      text-align: center;
      margin-top: 400px;
    }
    &.form {
      margin-top: 70px;
    }
  }

}
