@import 'styles/theme';

.events{
  &.base {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.container {
    height: 700px;
    width: 45em;
    overflow-y: scroll;
  }
  &.box {
    border-style: none none dashed none;
    display: flex;
    flex-direction: row;
  }
  &.info {
    color: white;
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 30px;
  }
}