@import 'styles/theme';

.eventcreation{
  &.container {
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    border-radius: 30px;
    margin-top: 30px;
    height: 30em;
    display: grid;
    width: 65em;
    grid-template-columns: 600px auto;
    column-gap: 10px;
  }
  &.form {
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
  }
  &.field {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    margin-top: 20px;
  }
  &.form2 {
    // border-style: solid;
    // border-width: 2px;
    // border-color: #1F4F59FF;
    // border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;

  }
  &.title {
    flex-shrink: 0;
    width: 400px;
    height: 70px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  &.offer-slot {
    margin-top: 5em;
    text-align: center;
  }
  &.return {
    margin-top: 2em;
    text-align: center;
  }
}
.react-calendar {
  background-color: rgb(228, 222, 210);
  border-radius: 0.5em;
  width: 400px;
  height: auto;
  margin-left: 15%;
  margin-right: 10px;
  margin-top: 50px;
}
.react-time-picker{
  background-color: rgb(228, 222, 210);
  width: 10em;
  height: 3em;
  box-shadow: $dropShadow;
  margin-top: 55px;
  margin-left: 35%;
}

@media (max-width: 800px) {
  &.eventcreation {
    &.container { grid-template-columns: repeat(1, 1fr); }
  }

  &.react-calendar { margin-left: 0; width: auto };
  // &.form2 { grid-row-start: 1; }
  // &.field { grid-template-columns: auto; }
}