@import 'styles/theme';

.accept {
  &.stack {
    flex-shrink: 0;
    height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &.frame h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  &.box1h {
    width: 200px;
    height: 40px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    // padding-left: 25%;

  }
  &.box1h1 {
    width: 400px;
    height: 40px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

  }
  &.box1h h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }
  &.box1h1 h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }
  &.box {
    //height: 580px;
    background-color: rgba(84, 192, 204, 0.02);
    overflow: visible;
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: 300px 283px;
    row-gap: 1em;
    column-gap: 1em;
  }
  &.box1 {
    // flex-direction: column;
    overflow-y: scroll;
    height: 600px;
    border: 2px solid #222;
    border-radius: 30px;
    // display: grid;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    // grid-template-columns: auto auto;
    grid-gap: 5px;
    // overflow: hidden;
    // overflow-y: scroll;
    min-height: 500px;
    // justify-items: center;
    justify-content: center;
  }
  &.box2 {
    grid-column: 2;
    grid-row-start: 1;
    border: 2px solid #222;
    border-radius: 30px;
  }

  &.box3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: auto;
    border: 2px solid #222;
    border-radius: 30px;
  ;
  }
  &.im {
    width: 450px;
    height: 250px;
    position: center;
    border: 2px solid #1F4F59FF;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0, 0, .2);
    margin-left: 50px ;
    margin-top: 10px;

  }
  &.textbox {
    background-color: rgba(31, 79, 89, 0.2);
    border-radius: 0.75em;
    width: 450px;
    height: 190px;
    margin-top: 10px;
    text-align: left;
    margin-left: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    background-color: rgba(31, 79, 89, 0.2);
  }
  &.from {
    background-color: rgba(31, 79, 89, 0.2);
    border-radius: 0.75em;
    width: 95%;
    height: 50px;
    margin-top: 10px;
    text-align: left;
    // margin-left: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

  }

  &.from h1 {
    font-weight: 400;
    font-style: normal;
    color: #1F4F59FF;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
  }
  &.from h1 span {
    font-weight: 400;
    font-style: normal;
    color: #1F4F59FF;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;

  }
  &.insidebox {
    border-radius: 0.75em;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: grid;
    grid-template-columns: fit-content(200px) fit-content(200px);
    column-gap: 5px;
    justify-content: center;
  }
  &.ima {
    width: 200px;
    height: 200px;
    position: center;
    border: 2px solid #1F4F59FF;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0, 0, .2);
  }

  &.textboxprof {
    width: 200px;
    height: 200px;
    background-color: rgba(31, 79, 89, 0.2);
    border-radius:30px;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;

  }
  &.ima2 {
    width: 90%;
    height: 250px;
    position: center;
    border: 2px solid #1F4F59FF;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0, 0, .2);
    margin-left: 5%;
    margin-top: 5px;
  }


  &.grid-item2{
    background-color: rgba(31, 79, 89, 0.2);
    border-radius:30px;
    width: auto;
    height: 90px;
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    margin-left: 10px;
    margin-right: 10px;
  }


  &.grid-item3 {
    background-color: rgba(31, 79, 89, 0.2);
    border-radius:30px;
    width: 90%;
    height: 200px;
    margin-right: 0px;
    text-align: left;
    border-style: solid;
    // margin-left: auto;
    border-width: 2px;
    border-color: #1F4F59FF;
    margin-left: 5%;
    margin-top: 10px;
  }

  &.grid-item4 {
    background-color: rgba(31, 79, 89, 0.2);
    border-radius:30px;
    width: 250px;
    height: 200px;
    margin-right: 0px;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    background-color: rgba(31, 79, 89, 0.2);
  }
  &.grid-title1 {
    width: 200px;
    height: 40px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

  }
  &.grid-title2 {
    width: 200px;
    height: 40px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

  }
  &.grid-item2 h1 {
    font-weight: 400;
    font-style: normal;
    color: #1f4f59;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5px;
  }

  &.grid-title3 {
    width: 200px;
    height: 40px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

  }
  &.grid-title4 {
    width: 200px;
    height: 40px;
    margin-left: 20px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 5px;
  }
  &.ima3 {
    width: 250px;
    height: 200px;
    position: center;
    border: 2px solid #1F4F59FF;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0, 0, .2);
  }
  &.grid-title1 h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }

  &.grid-title2 h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }

  &.grid-title3 h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }

  &.grid-title4 h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }

  &.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
  }

  @media (max-width: 800px) {
    &.box { display: flex; flex-direction: column;}


  }


}