@import 'styles/theme';

.header {
  &.container {
    // max-width: 1000px;
    width: 100%;
    min-height: 90px;
    height: fit-content;
    display: block;
    background-color: #1f4f59;
  }

  &.inner {
    // width: 95%;
    margin-left: 5%;
    margin-right: 5%;
    // max-width: 1000px;
    height: 100%;
    min-height: 90px;
    background-color: #1f4f59;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  &.logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &.logo h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-style: normal;
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 32px;
  }

  &.picture-box2 {
    grid-column-start: 3;
    display: flex;
    justify-content: right;
    column-gap: 10px;
    width: 100%;
  }

  &.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.navbar-item-link {

    color: white;
    text-align: center;

    &:focus, &:hover, &:visited, &:link, &:active {
    
      text-decoration: none;
      color: white;

    }
  }

  &.navbar-item-text {
    color: white;
    text-decoration: none;
    text-align: center;

    &:focus, &:hover, &:visited, &:link, &:active {
    
      text-decoration: none;
      color: white;

    }
  }

  &.svg_icons {
    // transform: scale(3.5);
    text-align: center;
    padding: 5%;
  }

  &.logo h1 span {
    font-weight: 800;
  }
}
.picture {
  &:hover {
    transform: translateY(-2px);
  }

  &:hover {
    transform: none;
  }


  &.home-picture {
    width: 60px;
    height: 60px;
    margin-right: 5px;

  }
  &.user-picture {
    width: 55px;
    height: 55px;
  }
}

