@import 'styles/theme';

.header {
  &.container {
    @include center;
    background-color: #0b495a;
    height: 80px;
  }

  &.title {
    font-weight: bold;
    color: #078899;
    text-align: start;
  }
}