@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.home {
  &.container {
    // color: white;
    // background: $background;
    background-color: rgba(153, 238, 255, 0.2);
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: $dropShadow;
    border-radius: 0.75em;
    border-style: solid;
    border-color: #1F4F59FF;
    column-gap: 5em;
  }
  &.column {
    display: flex;
    flex-direction: column;
    // row-gap: 400px;
    justify-content: space-around;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.notification {
  &.container {
    color: white;
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    width: 400px;
  }
  &.item {
    opacity: .7;
    text-decoration: none;
    background: #26606c;
    /* margin-bottom: 12%; */
    padding: 0%;
    /* margin-left: 0; */
    margin: 6%;
    width: 90%;
    padding: 5%;
    border-radius: 12px;
    &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.menu {
  &.container {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
  }
}