@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.home {
  &.container {
    // color: white;
    // background: $background;
    background-color: rgba(153, 238, 255, 0.2);
    // padding: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: $dropShadow;
    border-radius: 0.75em;
    border-style: solid;
    border-color: #1F4F59FF;
    column-gap: 5em;
    // height: 700px;
    margin-top: 10px;

  }

  @media (max-width: 800px) {
    &.container { flex-direction: column; }
  }

  &.column {
    display: flex;
    flex-direction: column;
    // row-gap: 400px;
    justify-content: space-around;
    margin-bottom: 10%;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  &.notificationbox {
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #1f4f59;
    overflow: hidden;
  }
  &.notificationbox h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    margin-top: 5px;
  }
}

.notification {
  &.container {
    color: white;
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgba(84, 192, 204, 0.2);
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;

  }
  &.item {
    opacity: .7;
    text-decoration: none;
    background: #26606c;
    /* margin-bottom: 12%; */
    padding: 0%;
    /* margin-left: 0; */
    margin: 6%;
    width: 90%;
    border-radius: 12px;
    &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.menu {
  &.container {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
  }
}