@import 'styles/theme';

.profile{
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: row;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    max-width: 50em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-style: solid none solid solid;
    border-color: rgb(14, 141, 146);
    border-radius: 0.05em;
    background-color: rgb(188, 236, 231);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.field {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }
  &.label-box {
    color: #042825;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
    text-transform: none; 
    font-weight: 500;
    box-shadow: $dropShadow;
    background-color: #0d9992;
    justify-content: center;
  }
  &.value-box {
    color: #042825;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    text-transform: none; 
    font-weight: 500;
    box-shadow: $dropShadow;
    background-color: #0d9992;
    justify-content: center;
  }
    &.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    max-width: 50em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-style: solid solid solid none;
    border-color: rgb(14, 141, 146);
    border-radius: 0.05em;
    background-color:  rgb(188, 236, 231);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.image-box {
    color: #053f3c;
    margin-bottom: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: $dropShadow;
    background-color: #0d9992;
    position: relative;
    bottom: 75px;
  }
  &.button-container {
    display: flex;
    justify-content: end;
    margin-top: 2em;
  }
  &.picture{
    align-items: center;   
    position: relative;
    bottom: 75px;
  }
}