@import 'styles/theme';

.placeprofile {
  &.container {
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    border-radius: 30px;
    margin-top: 20px;
    display: grid;
    // height: 600px;
    // width: auto;
    grid-template-columns: auto auto;
    // max-width: 800px;
    column-gap: 10px;
  }

  // @media (max-width: 500px) {
  //   &.field { grid-template-columns: auto; }
  // }

  &.form {
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
  }

  &.field {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    margin-top: 20px;
  }
  &.label-box {
    height: 60px;
    width: 280px;
    background-color: rgba(31, 79, 89, 0.2);
    color: #053f3c;
    font-size: 30px;
  }
  &.value-box {
    height: 60px;
    width: 280px;
    margin-top: 20px;
    background-color: rgba(31, 79, 89, 0.2);
    color: #053f3c;
    font-size: 18px;
    overflow-y: scroll;
    text-align: left;
  }
  &.button-container {
    margin-left: 25%;
  }
  &.frame {
    flex-shrink: 0;
    width: 400px;
    height: 70px;
    background-color: #1f4f59;
    overflow: hidden;

  }
  &.form2 {
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
  }

  &.title {
    flex-shrink: 0;
    width: 400px;
    height: 70px;
    background-color: #1f4f59;
    overflow: hidden;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &.title h1 {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  &.picture {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #1F4F59FF;
    border-radius: 30px;

  }
  &.event-button {
    margin-left: 25%;
    margin-right: auto;
  }

  @media (max-width: 800px) {
    &.container { grid-template-columns: repeat(1, 1fr); }
    &.form2 { grid-row-start: 1; }
    &.field { grid-template-columns: auto; }
  }

}