@import 'styles/theme';

.master-base {
  display: flex;
  flex-direction: column;
}

.base-container {
  margin-left: auto;
  // padding-left: 15px;
  margin-right: auto;
  // padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: rgb(17, 114, 138); // same as the title
}